<div class="col-md-12 title">
  <h1>Select faction to attack <button (click)=logout() class="btn-primary">Logout</button></h1>

</div>
<div class="faction-box">
  <div (click)="select($event)" class='col-md-6 red-faction'>Red Team</div>
  <div (click)="select($event)" class='col-md-6 green-faction'>Green Team</div>
</div>
<div class="faction-box">
  <div (click)="select($event)" class='col-md-6 blue-faction'>Blue Team</div>
  <div (click)="select($event)" class='col-md-6 orange-faction'>Orange Team</div>
</div>